.Fondo1 {
  background-image: url('../../../assets/public/FondoPlayer1.jpg');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}


.Fondo2 {
  background-image: url('../../../assets/public/FondoPlayer2-02.jpg');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}


.FondoWiner {
  background-image: url('../../../assets/public/FondoWiner-02.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
